@keyframes textbar {
  0% {
    transform: translateX(100vw);
  }
  100% {
    transform: translateX(-100%);
  }
}

.txtbar {
  position: absolute;
  animation: textbar 15s linear infinite;
  color: white;
  font-size: 30px;
  background-color: #191a1a;
}
