@keyframes textbar {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.txtbar {
  position: absolute;
  animation: textbar 5s linear infinite;
  color: white;
  font-size: 100px;
  background-color: green;
}
